*.log
/node_modules
/public/hot
!/public/build
/public/storage
/storage/*.key
/storage/pail
/vendor
/.idea
/.nova
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
