
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

body.bg-dark {
    background-image: url('../img/background.jpg'); /* The image used */
    background-color: #212529; /* Used if the image is unavailable */
    background-position: center center; /* Center the image */
    background-repeat: repeat-y; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.badge {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.badge.bg-dark {
    background-color: #252525 !important;
}

.cover-container {
  max-width: 60em;
  padding: 20px auto;
}

.rounded {
    border-radius:50% !important;
}

.img-thumbnail {
    background-color: #ccc;
    border: 1px solid #111;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 80%);
    padding: 1rem;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .75);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .5);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1.25rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.fab {
    margin-right: 0.25rem;
}

@media (max-width: 768px) {
    .description {
        text-align: center !important;
        padding-top: 2rem;
    }
}

a {
    color: #fff
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.bg-orange {
    background:#ee4426;
}

a.badge {
    text-decoration: none;
}

a:hover.badge {
    text-decoration: underline;
}