@import 'bootstrap';
@import '@fortawesome/fontawesome-free';

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

body.bg-dark {
    background-image: url('/img/background.jpg');
    background-color: #212529;
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.badge {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.badge.bg-dark {
    background-color: #252525 !important;
}

.cover-container {
    max-width: 65em;
    padding: 20px auto;
}

.rounded {
    border-radius: 50% !important;
}

.img-thumbnail {
    background-color: #ccc;
    border: 1px solid #111;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 80%);
    padding: 1rem;
    width: 75%;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .75);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .5);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1.25rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.svg-inline--fa {
    margin-right: 0.25rem !important;
}

@media (max-width: 768px) {
    .description {
        text-align: center !important;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .img-thumbnail {
        width: 50%;
    }

}

a {
    color: #fff
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.bg-orange {
    background: #ee4426;
}

a.badge {
    text-decoration: none;
}

a:hover.badge {
    text-decoration: underline;
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background: transparent;
    color: inherit;
    font-style: italic;
    border-radius: .25rem;
}

.active,
.collapsible:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\2193';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2191";
}